* {
    margin: 0;
    padding: 0;
}
.clearfix::before,.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.head_total {
    width: 100%;
    background-color: #fff;
    border: 3px solid #ebebeb;
    border-top: 0px ;
    box-sizing: border-box;
}
.head_main {
    width: 1000px;
    height: 75px;
    margin: 0 auto;
}
.head_img {
    float: left;
}
.head_img img {
    margin-top: 11px;
    width: 132px;
    height: 52px;
}
.head_main ul {
    list-style: none;
    padding-top: 30px;
}
.head_main ul li {
    float: left;
    margin-right: 51px;
}
.head_main ul li a {
    text-decoration: none;
    font-size: 17px;
    color: #272733;
}
.head_main ul li a:hover{
    color: orange;
}
.head_main .head_li {
    margin-left: 65px;
}
.head_main .head_register,.head_login {
    float: right;
    width: 52px;
    height: 32px; 
    font-size: 15px;
    background-color: #fff;
    color: #fa553f;
    border: 2px solid #fa553f;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    margin-top: -5px;
}
.head_main .head_login {
    margin-left: 35px;
    margin-right: 10px;
}
.head_main .head_question {
    float: right;
    width: 24px;
    height: 26px;
    background: url('./../imgs/icons/search.png') no-repeat center center;
}

.clearfix::before,.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.footer_total {
    background-color: #505050;
}
.footer_total .footer_main {
    padding-top: 40px;
    width: 1000px;
    margin: 0 auto;
}
.footer_erweima {
    float: left;
    width: 160px;
    height: 160px;
    margin-right: 22px;
}
.footer_nav dl {
    float: left;
    margin-right: 30px;
}
.footer_nav dl dt img {
    width: 122px;
    height: 46px;
}
.footer_nav dl dt {
    margin-bottom: 25px;
    font-size: 15px;
    color: #ffffed;
}
.footer_nav dl a {
    text-decoration: none;
    color: #ccc;
    font-size: 12px;
}
.footer_nav dl a:hover{
    color: orange;
}
dd.footer_jian {
    margin-bottom: 10px;
}
.footer_nav .footer_dl_1 {
    margin-right: 6px;
}
.footer_nav .footer_dl_2 {
    margin-top: 44px;
}
.footer_total .footer_btm {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 20px;
    font-size: 10px;
    color: #a4b2b5;
}
.footer_total .footer_return {
    position: fixed;
    right: 120px;
    bottom: 59px;
    width: 42px;
    height: 42px;
    border-radius: 5px;
    background: url('./../imgs/icons/back.png') no-repeat center center;
    background-color: #e8e8e8;
}